body{
    background-color: lightblue;
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}
canvas {
    height: 60vh;
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}

div{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
button{
    background: linear-gradient(to bottom, #5398ff, #fcfcfc);
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    transition: background-color 0.5s ease;
    text-decoration: none;
  }
  p{
    color: white;
  }